html {
  scrollbar-width: none;
}

body {margin: 0;}

header {
  height: 100vh;
  width: 100vw;
  background-image: url(content/fur.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  position: absolute;
  width: 100vw;
  animation: rot1 20s linear infinite;
}

#fih {
  position: absolute;
  width: 200px;
  top: calc(100vh - 150px);
  left: calc(95vw - 100px);
  animation: rot2 500ms linear infinite;
}

iframe {
  width: 100vw;
  height: 100vh;
}

@keyframes rot1 {
  0% {
    filter: hue-rotate(30deg);
  }
  50% {
    filter: hue-rotate(60deg);
  }
  100% {
    filter: hue-rotate(30deg);
  }
}

@keyframes rot2 {
  0% {
    filter: hue-rotate(0deg);
    rotate: -80deg;
  }
  50% {
    filter: hue-rotate(90deg);
    rotate: -100deg;
  }
  100% {
    filter: hue-rotate(180deg);
    rotate: -80deg;
  }
}

@media (min-aspect-ratio: 2.5) {
  #logo {
    width: unset;
    height: 100vh;
  }
}